In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [24]:
df=pd.read_csv("movie_metadata.csv")

In [25]:
df.shape

(5043, 28)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [27]:
df=df.drop(['color',
         'director_facebook_likes',
         'actor_3_facebook_likes',
         'actor_1_facebook_likes',
         'cast_total_facebook_likes',
         'facenumber_in_poster',
         'plot_keywords',
         'movie_imdb_link',
         'content_rating',
         'actor_2_facebook_likes',
         'aspect_ratio'],axis=1)

In [28]:
df.head(10)

,director_name,num_critic_for_reviews,duration,actor_2_name,gross,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,num_user_for_reviews,language,country,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,178.0,Joel David Moore,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,Wes Studi,3054.0,English,USA,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,169.0,Orlando Bloom,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,1238.0,English,USA,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,148.0,Rory Kinnear,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,994.0,English,UK,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,164.0,Christian Bale,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,2701.0,English,USA,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Rob Walker,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,8,NaN,NaN,NaN,NaN,NaN,NaN,7.1,0
5,Andrew Stanton,462.0,132.0,Samantha Morton,73058679.0,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,Polly Walker,738.0,English,USA,263700000.0,2012.0,6.6,24000
6,Sam Raimi,392.0,156.0,James Franco,336530303.0,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,Kirsten Dunst,1902.0,English,USA,258000000.0,2007.0,6.2,0
7,Nathan Greno,324.0,100.0,Donna Murphy,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,M.C. Gainey,387.0,English,USA,260000000.0,2010.0,7.8,29000
8,Joss Whedon,635.0,141.0,Robert Downey Jr.,458991599.0,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,Scarlett Johansson,1117.0,English,USA,250000000.0,2015.0,7.5,118000
9,David Yates,375.0,153.0,Daniel Radcliffe,301956980.0,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,Rupert Grint,973.0,English,UK,250000000.0,2009.0,7.5,10000

In [29]:
df=df.drop(['country'],axis=1)

In [30]:
df.head(5)

,director_name,num_critic_for_reviews,duration,actor_2_name,gross,genres,actor_1_name,movie_title,num_voted_users,actor_3_name,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,178.0,Joel David Moore,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,Wes Studi,3054.0,English,237000000.0,2009.0,7.9,33000
1,Gore Verbinski,302.0,169.0,Orlando Bloom,309404152.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,Jack Davenport,1238.0,English,300000000.0,2007.0,7.1,0
2,Sam Mendes,602.0,148.0,Rory Kinnear,200074175.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,Stephanie Sigman,994.0,English,245000000.0,2015.0,6.8,85000
3,Christopher Nolan,813.0,164.0,Christian Bale,448130642.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,Joseph Gordon-Levitt,2701.0,English,250000000.0,2012.0,8.5,164000
4,Doug Walker,NaN,NaN,Rob Walker,NaN,Documentary,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,8,NaN,NaN,NaN,NaN,NaN,7.1,0

In [31]:
df.isnull().sum().sort_values(ascending=False)

gross                     884
budget                    492
title_year                108
director_name             104
num_critic_for_reviews     50
actor_3_name               23
num_user_for_reviews       21
duration                   15
language                   14
actor_2_name               13
actor_1_name                7
genres                      0
movie_title                 0
num_voted_users             0
imdb_score                  0
movie_facebook_likes        0
dtype: int64

### checking the rows having higher percentage of missing values

In [32]:
round(100*(df.isnull().sum())/len(df.index),2)

director_name              2.06
num_critic_for_reviews     0.99
duration                   0.30
actor_2_name               0.26
gross                     17.53
genres                     0.00
actor_1_name               0.14
movie_title                0.00
num_voted_users            0.00
actor_3_name               0.46
num_user_for_reviews       0.42
language                   0.28
budget                     9.76
title_year                 2.14
imdb_score                 0.00
movie_facebook_likes       0.00
dtype: float64

In [33]:
df=df.dropna(subset=['gross'])
df=df.dropna(subset=['budget'])

In [34]:
df.isnull().sum().sort_values(ascending=False)

actor_3_name              10
actor_2_name               5
language                   4
actor_1_name               3
num_critic_for_reviews     1
duration                   1
director_name              0
gross                      0
genres                     0
movie_title                0
num_voted_users            0
num_user_for_reviews       0
budget                     0
title_year                 0
imdb_score                 0
movie_facebook_likes       0
dtype: int64

In [42]:
## the rows for which the sum of null is less than 2 is retained
df=df[df.isnull().sum(axis=1)<=2]
df.isnull().sum()

ValueError: No axis named 1 for object type Series

In [43]:
df['num_critic_for_reviews'].fillna(df['num_critic_for_reviews'].mean(),inplace=True)
df['duration'].fillna(df['duration'].mean(),inplace=True)

KeyError: 'num_critic_for_reviews'

In [44]:
df=df['language'].fillna(df['language'].mode())

KeyError: 'language'